// snippets
.custom-input(@content-off, @content-on) {
  input {
    display: none;
    &:checked + .widget::before {
      content: @content-on;
    }
  }

  .widget{
    &::before {
      content: @content-off;
      display: block;
      float: left;
      margin-right: 1ch;
    }
  }
}

.checkbox {
  .custom-input('[ ]'; '[X]');
}

.radiobutton {
  .custom-input('( )'; '(*)');
}

.toggler {
    .custom-input('(+)'; '(-)');
  input:not(:checked) ~ .contents {
    display: none;
  }
}


@keyframes spin { from {left: 0ch} to {left: -4ch} }

.loading {
  .container {
    display: inline-block;
    width: 1ch;
    overflow: hidden;

    .spinner {
      position: relative;
      left: 1ch;
      width: 1ch;
      animation: spin 0.25s steps(4) infinite;
      animation-delay: 0.5s;

      &::after {
        content: '\\-/|';
      }
    }
  }
}


// structure
p {
  margin: 0;
  padding: 0;
}

app {
  display: block;
  width: 100%;
  text-align: center;
}

.container {
  width: 80ch;
  margin: auto;
}

.search {
  display: block;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3em;

  input {
    width: 40ch;
  }
}

.debug {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 80ch;
    background: #000;
    color: #FFF;
    opacity: 0.5;

    overflow: hidden;

    .string {
        max-height: 1em;
        white-space: nowrap;

        &::before, &::after {
           content: '"';
        }
    }

    .field {
        padding-left: 4ch;
    }

    .object {
        .toggler;
        .contents {
            padding-left: 2ch;
        }

        & > .field {
            padding-left: 0ch;
        }
    }
}


.categories {

  .loading {
    text-align: left;
  }

  .category {
    .radiobutton;
    .contents {
       text-align: left;
    }
  }
}

.dictionaries {
  .dictionary {
    .checkbox;
    .contents {
       text-align: left;
     }
  }
}

// appearance

@body-bg: #FFFFFF;
@body-fg: #000000;

@widget-bg: #D8D8D8;
@widget-fg: #222222;

@popup-bg: #EEEEEE;
@popup-fg: #222222;

body {
  background: @body-bg;
  color: @body-fg;
  font-family: monospace;
}

input, .dictionary {
  background: @widget-bg;
  color: @widget-fg;
  border: 0px;
  font-family: monospace;
}


