
.dictionaries {
  .dictionary {

    display: block;
    text-align: left;

    .header {
       position: relative;

      .control {
        &-enable {
          .checkbox();

          .contents {
            display: inline;
          }
        }

        &-info {
          float: right;
          .toggler('(+)'; '(-)');

          .contents {
            display: none;
            position: absolute;
            right: 4ch;
            padding-left: 1ch;
            padding-right: 1ch;
            padding-top: 1em;
            padding-bottom: 1em;
          }
          input:checked ~ .contents {
            display: block;
          }
        }
      }
    }
  }
}

.translations {
  display: block;

  .translation {
    display: block;
    text-align: justify;
  }
}


.dictionaries .dictionary .control-info .contents {
  background: @popup-bg;
  color: @popup-fg;
}
